body {
    background-color: black;
  }
  
  .wrapper {
    height: 100vh;
  }
  
  .box {
    position:relative;
    background-color: white;
  }
  
  .fa-quote-left {
    position:absolute;
    top: 15px;
    left: 20px;
  }